.omc
.venv
mcp_server/__pycache__
mcp_server/services/__pycache__
mcp_server/tools/__pycache__
mcp_server/utils/__pycache__
output
trendradar/__pycache__
trendradar/ai/__pycache__
trendradar/core/__pycache__
trendradar/notification/__pycache__
trendradar/report/__pycache__
trendradar/utils/__pycache__
trendradar/storage/__pycache__
stderr.log
stdout.log
full_logs.txt
docker/.env